<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="mystyle.css">
    </head>
    <div>
        {% load static %}
        <img src="{% static 'find_logo.png' %}" class = "centerimage">
	<p class="centersubmit" style="top:67%; left: 53%; font-size: 16px; width: 30%;">Summary
Researchers at the University of California Los Angeles and the Massachusetts Institute of Technology MIT have developed a new way to measure the length of light in space.</p>

    </div>
</html>
